<div class='flex-1'>
	<div class='flex items-center mb-10'>
		<p class='font-PODIUMSharp text-4xl z-10'>Advice for today</p>
		<div class='w-20 h-1.5 -ml-[34px] mt-2.5 bg-retrobrowntittle-800' />
	</div>
	<p class='font-PODIUMSharp text-3xl mb-4'>Understand your mind</p>
	<p class='font-Skie text-xl text-justify'>The Subtle Art of Not Giving a Fuck - The most popular article on the site and the impetus for the worldwide bestselling book by the same name.</p>
	<div class='mt-4 pl-8'>
		<p class='font-Skie text-lg text-justify list-item'>
      Guide to Personal Values - An in-depth look at how we
come to value the things we value and how this affects who we are.
		</p>
		<p class='font-Skie text-lg text-justify list-item'>
      How to Grow Up - A step-by-step breakdown of the
psychology of growth and development. A look at how humans mature and grow through experience and self- questioning.
		</p>
		<p class='font-Skie text-lg text-justify list-item'>
      The One Rule for Life - What makes an action right or wrong? What makes a person good or bad? Well, there's a rule for that.
		</p>
	</div>
</div>