---
const { title, img } = Astro.props
---
	<div class='w-[220px] relative h-[250px] border-2 border-[#1F201F]'>
		<img src={img} class='object-cover w-full h-full' />
		<div class='absolute flex top-0 left-0 right-0 bottom-0 w-full h-full bg-[#00000080] transition-all duration-300 ease-in justify-center items-center'>
			<a href={'#'}><p class='text-3xl font-PODIUMSharp tracking-wider uppercase text-[#EDEAE2]'>{title}</p></a>
		</div>
	</div>