---
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<link rel='stylesheet' href='styles/styles.css'>
		<link href="https://fonts.cdnfonts.com/css/skie" rel="stylesheet">
		<link rel='icon' type='image/svg+xml' href='/vintagecamera.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class='bg-[#EDEAE2] text-black flex flex-col items-center'>
		<slot />
	</body>
</html>
